<!-- Quem Somos Section -->
    <section id="como-fazemos" class="wooka-section">
        <div class="container">
            <div class="row wooka-como-fazemos-row">
                <div class="col-md-3 text-center">
                  <p class="wooka-32 wooka-red wooka-left">como fazemos?</p>
                </div>
                <div class="col-md-9 text-center wooka-como-fazemos-text">
                  <p class="wooka-17">Atuamos a partir de ações e intervenções teatrais, musicais, artísticas e performáticas que se moldam e se adaptam às demandas e aos espaços da própria empresa.</p>

                  <p class="wooka-17">Para isso, partimos de diálogos diretos com nosso cliente; entendemos quais são seus anseios e expectativas, e qual performance/apresentação melhor se enquadra ao seu ambiente, transformando o espaço do escritório em um lugar de troca e interatividade criativa.</p>
                </div>
            </div>
        </div>
    </section>
