<!-- Quem Somos Section -->
    <section id="que-somos" class="wooka-que-somos">
        <div class="container">
            <div class="row wooka-que-somos-row wooka-white-on-black">
                <div class="col-xs-4 text-center">
                  <p class="wooka-17 wooka-red"><span class="wooka-25">teatro empresarial:</span>
                  Ações surpresa em empresas, feiras e congressos</p>

                  <p class="wooka-17 wooka-blue">diversos formatos de shows: dança, teatro, malabares, mágica e muito mais!</p>

                  <p class="wooka-12">Dinâmicas e jogos de interação</p>
                  <p class="wooka-12">intervenções em treinamentos e eventos corporativos</p>
                  <p class="wooka-12">apresentações em festas e confraternizações</p>
                </div>
                <div class="col-xs-8 text-center">
                  <p class="wooka-17">veja o vídeo e entenda melhor!</p>
                  <div class="video-wrapper video-wrapper-16x9"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bxJcuATHrWE?showinfo=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
            </div>
            <div class="row wooka-que-somos-row">
                <div class="col-xs-6 text-center">
                  <div class="wooka-agencia">
                    <p>A Wooka é a primeira agência de comunicação artística - ou arte comunicativa.</p>

                    <p>Nossa missão é transformar ambientes corporativos em espaços mais alegres, criativos e motivadores a partir de intervenções artísticas personalizadas de acordo com o cliente.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="46.48349380493164 14.670830726623535 120.06130981445312 170.25489807128906" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                      <g><path d="M165.103 55.067a3.609 3.609 0 0 0-3.858-1.413l-50.149 13.014 18.017-46.673a3.612 3.612 0 0 0-.643-3.674 3.611 3.611 0 0 0-3.554-1.152l-62.061 14.47a3.632 3.632 0 0 0-2.748 2.96l-13.325 83.652a3.606 3.606 0 0 0 1.074 3.179 3.604 3.604 0 0 0 3.236.926l44.024-9.192-19.684 69.154a3.612 3.612 0 0 0 3.476 4.606 3.635 3.635 0 0 0 3.01-1.597L165.16 59.171a3.618 3.618 0 0 0-.057-4.104z"></path></g>
                    </svg>
                  </div>
                </div>
                <div class="col-xs-6 text-center wooka-rotina wooka-white-on-black">
                  <p id="wooka-rotina-title">Quebre a rotina</p>
                  <p class="wooka-17 wooka-red wooka-left">Porque fazer isso?</p>

                  <p class="wooka-17 wooka-left">Cada vez mais, as pessoas buscam qualidade de vida no trabalho para se manterem motivadas. Nesse sentido, entendemos que motivação  vai além de um videogame ou uma rede para descanso no escritório.</p>

                  <p class="wooka-17 wooka-left">Para melhorar o clima de verdade, é preciso causar impacto positivo. Por isso, intervimos no ambiente corporativo, tornando-o mais participativo e descontraído, com ações capazes de transformar o clima e atribuir um <span class="wooka-red">outro olhar a um espaço formal.</span></p>

                  <p class="wooka-17 wooka-left">Fazemos isso a partir de apresentações teatrais, jogos e dinâmicas exclusicas para sua empresa, de maneira impactante, memorável, com qualidade artística e inovação. Tudo isso focando no engajamento do colaborador e na valorização da cultura jovem, empreendedora e criativa.</p>

                  <button type="submit" class="btn btn-xl">Entre em contato</button>
                </div>
            </div>
            <div class="row wooka-que-somos-row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>
