<!-- Services Section -->
    <section id="services" class="wooka-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="section-heading wooka-services-heading">NOSSA ATUAÇÃO</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 wooka-service-column">
                    <p class="service-heading wooka-service-item-heading wooka-17">intervir</p>
                    <p class="text-muted wooka-service-item-text wooka-17">Surpreendera a todos com ações e performances divertidas e criativas personalizadas para sua empresa.</p>
                </div>
                <div class="col-md-4">
                    <p class="service-heading wooka-service-item-heading wooka-17">transformar</p>
                    <p class="text-muted wooka-service-item-text wooka-17">Quebrar a rotina e ressignificar o ambiente de trabalho. Transformamos o morno no quente, timidez em descontração. Rostos sérios em largos sorrisos!</p>
                </div>
                <div class="col-md-4">
                    <p class="service-heading wooka-service-item-heading wooka-17">integrar</p>
                    <p class="text-muted wooka-service-item-text wooka-17">Promover integração entre as pessoas de forma lúdica, criando e reforçando laços de parceria, trabalho em equipe e colaboração!</p>
                </div>
            </div>
        </div>
    </section>