{% if post.swipebox %}
  <div class="swipebox-gallery">
    {% for file in site.static_files %}
      {% if file.path contains post.swipebox %}
        {% unless file.path contains "cover" %}
          <a href="{{ site.baseurl }}{{ file.path }}" class="swipebox">
            <img src="{{ site.baseurl }}{{ file.path }}" alt="">
          </a>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>

  <script type="text/javascript">
    (function($) {
      $( '.swipebox' ).swipebox();
    })(jQuery);
  </script>
{% endif %}
